* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header {
  width: 100vw;
  border-bottom: 1px solid darkgray; }
  header .logo-header {
    width: 4em; }
  header .nav-bar-modifier {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  header .nav-links a {
    text-decoration: none;
    align-self: center;
    color: #cea053;
    font-size: 2em;
    padding-left: 2em; }
    header .nav-links a:hover {
      color: black; }
  header .contact-navbar a {
    text-decoration: none;
    align-self: center;
    color: #cea053;
    font-size: 2em;
    padding-right: 2em; }
    header .contact-navbar a:hover {
      color: black; }

footer {
  width: 100vw;
  height: 5vh; }
  footer .footer {
    border: 2px darkslategrey solid;
    width: 98%;
    height: 100%;
    border-radius: 0.3em;
    margin: auto;
    margin-top: 2em; }
    footer .footer div {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      footer .footer div a {
        font-size: 2em;
        text-decoration: none;
        color: white;
        text-align: center; }
        footer .footer div a i:hover {
          color: black;
          font-size: 2.5; }

body {
  width: 100vw;
  background-image: linear-gradient(to top, #3367d1 0%, #3f96b3 100%);
  scroll-behavior: smooth; }

.carousel-index {
  width: 100vw;
  height: 83vh; }
  .carousel-index h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0, 6em;
    padding-top: 0.4em;
    font-size: 3em;
    letter-spacing: 2px;
    color: white; }
  .carousel-index .title-border {
    border-bottom: #bababa 1px solid;
    width: 30%;
    margin: auto; }
  .carousel-index h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0, 3em;
    padding-top: 0.3em;
    font-size: 1.5em;
    color: #dbdbdb;
    letter-spacing: 1px; }
  .carousel-index .carousel {
    width: 98%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto; }
    .carousel-index .carousel .carousel-modifier {
      border-radius: 1em; }
      .carousel-index .carousel .carousel-modifier img {
        height: 68vh;
        object-fit: cover; }

.scroll-down-container {
  position: relative;
  width: 100vw;
  padding: 1em;
  height: 5vh;
  margin-bottom: 5em;
  margin-top: 1em; }
  .scroll-down-container a {
    cursor: pointer; }
    .scroll-down-container a .scroll-button {
      height: 2.5em;
      width: 100vw;
      position: absolute;
      border-radius: 1em; }
      .scroll-down-container a .scroll-button::after {
        content: '';
        position: absolute;
        left: 50%;
        border-bottom: #cea053 4px solid;
        border-right: #cea053 4px solid;
        transform: translate(-50%, -50%) rotate(45deg);
        height: 2.5em;
        width: 2.5em;
        animation: scroll-down ease-in-out infinite 1.5s; }
      .scroll-down-container a .scroll-button::after {
        top: 0%; }

@keyframes scroll-down {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: 110%; } }

.index-info {
  width: 100vw; }
  .index-info .staff-bernabe {
    width: 90%;
    height: 45vh;
    margin: auto;
    margin-top: 1em;
    border-radius: 0.5em;
    background-color: #cea053; }
    .index-info .staff-bernabe h3 {
      text-align: center;
      margin: 0.5em;
      font-family: 'Poppins', sans-serif;
      font-size: 1.5em;
      color: #4d4d4d;
      letter-spacing: 1px; }
    .index-info .staff-bernabe .photo-text-staff {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      height: 90%; }
      .index-info .staff-bernabe .photo-text-staff img {
        width: 50%;
        height: 90%;
        border-radius: 0.8em;
        margin: 0.2em;
        object-fit: cover; }
      .index-info .staff-bernabe .photo-text-staff p {
        width: 40%;
        height: 100%;
        font-size: 1.2em;
        text-align: justify; }
  .index-info .factory-bernabe {
    width: 90%;
    height: 45vh;
    margin: auto;
    margin-top: 1em;
    border-radius: 0.5em;
    background-color: #cea053; }
    .index-info .factory-bernabe h4 {
      text-align: center;
      margin: 0.5em;
      font-family: 'Poppins', sans-serif;
      font-size: 1.5em;
      color: #4d4d4d;
      letter-spacing: 1px; }
    .index-info .factory-bernabe .photo-text-factory {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      height: 90%; }
      .index-info .factory-bernabe .photo-text-factory img {
        width: 50%;
        height: 90%;
        border-radius: 0.8em;
        margin: 0.2em;
        object-fit: cover; }
      .index-info .factory-bernabe .photo-text-factory p {
        width: 40%;
        height: 100%;
        font-size: 1.2em;
        text-align: justify; }
  .index-info .beertruck-bernabe {
    width: 90%;
    height: 45vh;
    margin: auto;
    margin-top: 1em;
    border-radius: 0.5em;
    background-color: #cea053; }
    .index-info .beertruck-bernabe h5 {
      text-align: center;
      margin: 0.5em;
      font-family: 'Poppins', sans-serif;
      font-size: 1.5em;
      color: #4d4d4d;
      letter-spacing: 1px; }
    .index-info .beertruck-bernabe .photo-text-beertruck {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      height: 90%; }
      .index-info .beertruck-bernabe .photo-text-beertruck img {
        width: 50%;
        height: 90%;
        border-radius: 0.8em;
        margin: 0.2em;
        object-fit: cover; }
      .index-info .beertruck-bernabe .photo-text-beertruck p {
        width: 40%;
        height: 100%;
        font-size: 1.2em;
        text-align: justify; }
