body {
    max-width: 100vw;
    min-height: 100vh;
    // overflow-x: hidden;
    background-image: linear-gradient(to top, #4b808d 0%, #399dbe 100%);
    // background-repeat: no-repeat;
    scroll-behavior: smooth;
}

.carousel-index {
    width: 100vw;
    height: 83vh;

    h1 {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 0, 6em;
        padding-top: 0.4em;
        font-size: 3em;
        letter-spacing: 2px;
        color: white;
    }

    .title-border {
        border-bottom: rgb(186, 186, 186) 1px solid;
        width: 30%;
        margin: auto;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 0, 3em;
        padding-top: 0.3em;
        font-size: 1.5em;
        color: rgb(219, 219, 219);
        letter-spacing: 1px;
    }

    .carousel {
        width: 98%;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: auto;

        .carousel-modifier {
            // height: 85vh;
            border-radius: 1em;

            img {
                height: 68vh;
                object-fit: cover;
            }
        }
    }
}

// scroll 
.scroll-down-container {
    position: relative;
    width: 100vw;
    padding: 1em;
    height: 5vh;
    margin-bottom: 5em;
    margin-top: 1em;

    a {
        cursor: pointer;

        .scroll-button {
            height: 2.5em;
            width: 100vw;
            position: absolute;
            border-radius: 1em;
            &::before{

            }
            &::after{
                content: '';
                position: absolute;
                left: 50%;
                border-bottom: #cea053 4px solid;
                border-right: #cea053 4px solid;
                transform: translate(-50%, -50%) rotate(45deg);
                height: 2.5em;
                width: 2.5em;
                animation: scroll-down ease-in-out infinite 1.5s;
            }
            &::after{
                top: 0%;
            }
            @keyframes scroll-down{
                0% {
                    opacity: 0;
                }
                30%{
                    opacity: 1;
                }
                60%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                    top: 110%;
                }
            }
        }
    }
}
.index-info {
    width: 100vw;

    .staff-bernabe {
        width: 90%;
        height: 45vh;
        margin: auto;
        margin-top: 1em;
        border-radius: 0.5em;
        background-color: #cea053;

        h3 {
            text-align: center;
            margin: 0.5em;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5em;
            color: rgb(77, 77, 77);
            letter-spacing: 1px;
        }

        .photo-text-staff {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            height: 90%;

            img {
                width: 50%;
                height: 90%;
                border-radius: 0.8em;
                margin: 0.2em;
                object-fit: cover;
            }

            p {
                width: 40%;
                height: 100%;
                font-size: 1.2em;
                text-align: justify;
            }
        }
    }

    .factory-bernabe {
        width: 90%;
        height: 45vh;
        margin: auto;
        margin-top: 1em;
        border-radius: 0.5em;
        background-color: #cea053;

        h4 {
            text-align: center;
            margin: 0.5em;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5em;
            color: rgb(77, 77, 77);
            letter-spacing: 1px;
        }

        .photo-text-factory {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            height: 90%;

            img {
                width: 50%;
                height: 90%;
                border-radius: 0.8em;
                margin: 0.2em;
                object-fit: cover;
            }

            p {
                width: 40%;
                height: 100%;
                font-size: 1.2em;
                text-align: justify;
            }
        }
    }

    .beertruck-bernabe {
        width: 90%;
        height: 45vh;
        margin: auto;
        margin-top: 1em;
        border-radius: 0.5em;
        background-color: #cea053;

        h5 {
            text-align: center;
            margin: 0.5em;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5em;
            color: rgb(77, 77, 77);
            letter-spacing: 1px;
        }

        .photo-text-beertruck {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            height: 90%;

            img {
                width: 50%;
                height: 90%;
                border-radius: 0.8em;
                margin: 0.2em;
                object-fit: cover;
            }

            p {
                width: 40%;
                height: 100%;
                font-size: 1.2em;
                text-align: justify;
            }
            a{
                
            }
        }
    }

}
.newsletter{
    width: 60vw;
    margin: auto;
    border: solid 2px rgb(73, 73, 73);
    border-radius: 1em;
    box-shadow: 0 0 15px rgba($color: #4d4d4d, $alpha: .5);
    margin-top: 2em;
    display: grid;
    grid-template-areas:"title title"
                        "subtitle subtitle"
                        "name email"
                        "checkbox checkbox";
                        background-color: #ebd4ad;
    h6{
        grid-area: title;
        text-align: center;
        font-size: 2em;
        padding: 0.5em;
        padding-bottom: 0;
    }
    p{
        grid-area: subtitle;
        text-align: center;
        font-size: 1em;
    }
    .name-newsletter{
        grid-area: name;
    }
    .email-newsletter{
        grid-area: email;
    }
    .terms-newsletter{
        grid-area: checkbox;
        text-align: center;
    }
}